*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cor-principal: #fff;
    --cor-secundaria: #000;
    --cor-destaque: #ffff00;
    --cor-titulo: #2a2a2a;
    --cor-subtitulo: #3e3e3e;
    --cor-texto: #535353;
}

body,
h1,
h2,
p,
figure {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #000;
}










header {
    height: 10vh;
    background-color: var(--cor-secundaria);
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 50px;
}

a {
    text-decoration: none;
    width: 60px;
}

.links-menu {
    display: none;
    list-style: none;
    margin: 0;

    a {
        color: var(--cor-principal);
        font-weight: bold;
        height: 50px;
        letter-spacing: 2px; /* Ajuste do espaçamento entre letras */
        margin-left: 24px;
    }
}

.menu div {
    display: none;
    width: 32px;
    height: 2px;
    background: var(--cor-principal);
    margin: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.fechar .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.fechar .linha2 {
    opacity: 0;
}

.fechar .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 700px) {
    .menu div {
        display: flex;
    }

    .links-menu {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        background-color: var(--cor-principal);
        height: 90vh;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: var(--cor-secundaria);
        }
    }
}

@media (min-width: 701px ) and (max-width:1024px) {
    .links-menu {
        display: flex;
    }
}

.links-menu.aberto {
    display: flex;
}










.calendario {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 18vh;
    scroll-snap-type: x mandatory; 
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

    .jogos {
        flex: 0 0 100%;
        scroll-snap-align: start;
        background-color: var(--cor-principal);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 25px;
            padding: 3px;
        }

        h2 {
            line-height: 1.4; /* Ajuste do espaçamento de linha */
            font-size: 16px; /* Aumento do tamanho da fonte */
        }

        p {
            font-size: 14px; /* Aumento do tamanho da fonte */
            line-height: 1.4; /* Ajuste do espaçamento de linha */
        }
    }

    .proximo-jogo {
        padding: 5px 0;
        display: flex;
        justify-content: center;

        p {
            display: flex;
            align-items: center;
        }
    }
}










.destaque {
    position: relative;

    img {
        width: 100%;
        height: 70vh;
        object-fit: cover;
        filter: brightness(0.5);
    }

    figcaption {
        padding: 10px;
        position: absolute;
        bottom: 25%;
        line-height: 1.6;
        color: var(--cor-principal);

        strong {
            text-transform: uppercase;
            border-bottom: solid 3px;
            color: var(--cor-destaque);
        }
    }
}










.galeria-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 2rem;
    max-width: 1200px;

    h2 {
        color: var(--cor-principal);
        
        padding-bottom: 2rem;
        font-size: 24px; /* Tamanho aumentado */
        line-height: 1.5; /* Aumento do espaçamento de linha */
    }

    .foto {
        width: 45%;
        overflow: hidden;
        position: relative;  
    }

    .foto img {
        border-radius: 20px;
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
    }

    .foto figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.7); 
        color: var(--cor-principal);
        padding: 10px;
        text-align: center;
        transform: translateY(100%); 
        transition: transform 0.3s ease;
        display: block;
    }

    .foto img:hover {
        transform: scale(1.1);
    }

    .foto:hover figcaption {
        transform: translateY(0); 
    }
}










.video-container {
    padding-top: 2rem;
    max-width: 1200px;

    .titulo {
        color: var(--cor-principal);
        text-align: center;
        padding-bottom: 2rem;
        font-size: 24px; /* Tamanho aumentado */
        line-height: 1.5; /* Aumento do espaçamento de linha */
    }

    .video iframe {
        width: 100%;
    }
}










.container-carrossel {
    padding-top: 2rem;
    max-width: 1200px;

    h2 {
        color: var(--cor-principal);
        padding-bottom: 2rem;
        text-align: center;
        font-size: 24px; /* Tamanho aumentado */
        line-height: 1.5; /* Aumento do espaçamento de linha */
    }

    .carrossel {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        scroll-snap-type: x mandatory;
        gap: 10px;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }

        .item-carrossel {
            img {
                width: auto;
                height: 50vh;
            }
        }
    }

    .insta {
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        height: 8vh;
        padding-left: 10px;
        display: flex;
        align-items: center;

        p {
            display: flex;
            align-items: center;
        }

        img {
            width: 30px;
            padding-right: 5px;
        }
    }
}










.sobre {
    background-color: black;
    padding-top: 2rem;
    max-width: 800px;
    line-height: 1.6;
}

.sobre h2 {
    font-size: 28px; /* Tamanho reduzido */
    color: var(--cor-principal);
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.sobre p {
    font-size: 16px; /* Tamanho aumentado */
    color: var(--cor-principal);
    text-align: justify;
    margin-bottom: 1.5rem;
    line-height: 1.5; /* Aumento do espaçamento de linha */
}

.sobre strong {
    color: var(--cor-destaque);
    font-weight: bold;
}

.sobre em {
    color: var(--cor-destaque);
    font-style: italic;
}

.sobre a {
    color: var(--cor-destaque);
    text-decoration: none;
    font-weight: bold;
}

.sobre a:hover {
    text-decoration: underline;
}
